body{
    background-color:#d5e1ef;
    font-family:"Outfit"
}
main{
    display:flex;
    height:100vh;
    align-items:center;
    justify-content:center;
}
section{
    width:16rem;
    background-color:white;
    padding:14px;
    border-radius:20px;
    text-align:center;
    box-shadow: -1px 4px 11px 4px rgba(0,0,0,0.21);
    -webkit-box-shadow: -1px 4px 11px 4px rgba(0,0,0,0.21);
    -moz-box-shadow: -1px 4px 11px 4px rgba(0,0,0,0.21);
}
article{
    padding:6px;
}
img{
    border-radius:10px;
}
header{
    font-weight:700;
}
p{
    color:#7e889f;
    font-weight:400;
    font-size:1rem;
}